.cart-container {
    padding: 4rem;
    margin: 0 auto;
    width: 1240px;
}

.cart-container h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.cart-container .cart-product {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}