.container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.item {
    display: flex;
    gap: 4rem;
}

.item img {
    width: 500px;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.item-info h3 {
    font-size: 3.5rem;
}

.item-info .item-price {
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.item-info .item-descricao {
    font-size: 2rem;
    margin-bottom: 5rem;
    max-width: 500px;
}

.item-info button {
    align-self: flex-start;
    padding: 15px 50px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.item-info button:hover {
    background-color: #FF4545;
}

@media (max-width: 698px) {
    .item img {
        width: 300px;
    }

    .item-info {
        gap: 1rem;
    }

    .item-info h3 {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    .item {
        margin-right: 2rem;
    }
    .item img {
        width: 240px;
        height: 240px;
    }

    .item-info {
        gap: 0;
    }

    .item-info h3 {
        font-size: 2rem;
    }

    .item-info .item-price {
        font-size: 1.6rem;
    }

    .item-info .item-descricao {
        font-size: 1.2rem;
    }

    .item-info button {
        font-size: 1.4rem;
        padding: 8px 10px;
    }
}