.arrow-up {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 6px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
    background-color: #e9e5e5;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.visible {
    opacity: 1;
}

.arrow {
    font-size: 2.2rem;
}

@media (max-width: 425px) {
    .arrow {
        font-size: 1.5rem;
    }
}