.banner {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.container {
    display: flex;
    width: 1280px;
}

.container img {
    border-radius: 20px;
}

@media (max-width: 1024px) {
    
}

@media (max-width: 1280px) {
    .container img{ 
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width: 768px) {
    .container img{
        width: 90%;
    } 
}

@media (max-width: 540px) {
    .container img{
        width: 90%;
    }
}